:root {
    --background-color:#121b1c;
    --text-color: #7a8079;
    --primary-accent: #23726f;
    --secondary-accent: #254e4d;
}

html {
    margin: 0;
    background-color: var(--background-color);
}

body {
    margin: 0 20px 0 20px;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 19px;
  }

.fullscreen-enabled {
    background: var(--background-color);
}


.tabs {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 200px; */
}

.tab {
    display: inline;
    color: var(--secondary-accent);
    cursor: pointer;
}

.tab:hover {
    border-bottom: 3px solid var(--secondary-accent);
}

.active_tab {
    border-bottom: 3px solid var(--primary-accent);
    color: var(--primary-accent);
}
.active_tab:hover {
    border-bottom: 3px solid var(--primary-accent);
}